.main_container {
    width: 100%;
    padding: 100px 20px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.cards_container {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.card {
    width: 300px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 2px 2px 15px 2px #d9dde1;
}

.img {
    width: 260px;
    height: 200px;
}

.card h3 {
    font-size: 18px;
}

.card p {
    font-size: 16px;
}
